module ARRepo
  module ARModels
    # An Active Record <%= head_name.capitalize %>.  This
    # model will be used with the SQL Adapter with the intent
    # to provide the exact same interface as the corresponding
    # domain model <%= name.capitalize %>::<%= head_name.capitalize %>
    class <%= head_name.capitalize %> < ActiveRecord::Base
    end
  end
end
