module <%= name.capitalize %>
  # This is an app that clients will use to interact with the
  # <%= name.capitalize %> Aggregate
  class App
    delegate :create, to: :@repository
    def initialize(repository: Repository)
      @repository = repository
    end
  end
end
