module <%= name.capitalize %>
  # This is an app that clients will are required to interact
  # with to peform operations in the <%= name.capitalize %>
  # Aggregate
  class App
    delegate :create, to: :@repository
    def initialize(repository: Repository)
      @repository = repository
    end
  end
end
