require File.expand_path('spec/domain/<%= name %>/<%= head_name %>_behavior.rb')

module <%= hexagon_name.camelize %>
  module ARRepo::ARModels
    describe <%= head_name.camelize %> do
      it "This should behave like a <%= head_name.camelize %>!"

      # Uncomment the line below when you are ready for prime time!
      # it_should_behave_like("a Domain <%= head_name.camelize %>")
    end
  end
end
