Dir[File.dirname(__FILE__) + "/<%= name %>/domain/**/*.rb"].each do |file|
  require_relative file
end

class <%= name.camelize %>
  def initialize repositories=nil
    @repositories = self.class.constants.map do |c|
      [c.downcase, Object.const_get('<%= name %>.camelize::' + c.to_s + '::App').new]
    end.to_h
  end
end
